* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

@font-face {
    font-family: 'roboto';
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'roboto';
    font-weight: bold;
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'roboto';
    font-style: italic;
    src: url(./fonts/Roboto/Roboto-Italic.ttf);
}

@font-face {
    font-family: 'roboto';
    font-weight: bold;
    font-style: italic;
    src: url(./fonts/Roboto/Roboto-BoldItalic.ttf);
}

body {
    font-family: 'roboto';
    color: #FFFFFF;
}

:root {
    --primary-color: #109DEA;
    --secondary-color: #04234E;
    --tertiary-color: #EE88E4;
    --text-color: #FFFFFF;
}
.navbar{
    height: 100px;
    background-color: #109DEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-size: 32px;
    padding-left: 1.5rem;
    font-weight: bold;
}
.nav{
    padding-right: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav a{
    font-size: 32px;
    padding: 1rem;
    color: #FFFFFF;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.nav a:hover{
    background-color: #EE88E4;
}
img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    display: block;
}
.card{
    height: 600px;
    background-color: #04234E;
    display: flex;
    padding: 1.5rem;
    gap: 1.5rem;
}
.card .para{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.underline{
    font-size: 48px;
    text-decoration: underline;
    text-underline-offset: 1.5rem;
    text-decoration-color: #EE88E4;
}
.card .para p{
    font-size: 20px;
}
.card .img1{
    width: 50%;
}
.card .img1 img{
    object-fit: cover;
    height: 100%;
}
.card2{
    height: 550px;
    background-color: #109DEA;
    padding: 0 1.5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}
.card_detail{
    display: flex;
    gap: 1.5rem;
}
.detail{
    height: 350px;
    width: 50%;
    border: 1px solid #04234E;
    display: flex;
}
.detail img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.card2 .card_detail .detail .parad{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    gap: 1.5rem;
}
.card2 .card_detail .detail .parad h3{
    font-size: 48px;
}
.card2 .card_detail .detail .parad p{
    font-size: 20px;
}
.card2 .card_detail .detail .parad a{
    align-self: flex-end;
    font-size: 32px;
    background-color: #04234E;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0.5rem 2rem;
}

